/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    display: flex;
    max-width: 1000px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
}

.npc-list {
    width: 30%;
    border-right: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
}

.npc-item {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.chat-window {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.conversation {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    max-width: 80%;
}

.outgoing {
    background-color: #007bff;
    color: white;
    align-self: flex-end;
}

.incoming {
    background-color: #f2f2f2;
    align-self: flex-start;
}

#message-form {
    display: flex;
    margin-top: 10px;
}

#message {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para el contenedor de NPCs y botones */
.npc-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 500px;
    max-width: 500px; /* Ajusta el ancho máximo según tu diseño */
}

/* Estilos para la lista de NPCs */
.npc-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    max-height: 200px; /* Ajusta la altura máxima según tu diseño */
    border: 1px solid #ddd;
    border-radius: 5px;
}

.npc-list li {
    cursor: pointer;
    padding: 8px;
    transition: background-color 0.3s ease;
}

.npc-list li:hover {
    background-color: #f0f0f0;
}

/* Estilos para los botones */
.npc-buttons {
    display: flex;
    flex-direction: column; /* Cambiar la dirección del flujo a columna */
    justify-content: space-between;
    margin-top: 10px; /* Espacio superior entre los botones */
}


.npc-buttons button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    font-size: 14px;
}

.npc-buttons button:hover {
    background-color: #0056b3;
}
